[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
    ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
	url = https://github.com/vim-scripts/ShowMarks.git
    ignore = dirty
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
    ignore = dirty
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "vim/bundle/latex"]
	path = vim/bundle/latex
	url = https://github.com/seanbell/vim-latex
    ignore = dirty
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
    ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "vim/bundle/fswitch"]
	path = vim/bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
    ignore = dirty
[submodule "vim/bundle/gitignore"]
	path = vim/bundle/gitignore
	url = https://github.com/vitaly/vim-gitignore.git
    ignore = dirty
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
    ignore = dirty
[submodule "vim/bundle/tabman"]
	path = vim/bundle/tabman
	url = https://github.com/kien/tabman.vim.git
    ignore = dirty
[submodule "autojump"]
	path = autojump
	url = https://github.com/joelthelion/autojump.git
    ignore = dirty
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
    ignore = dirty
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
    ignore = dirty
[submodule "vim/bundle/rainbow-parentheses"]
	path = vim/bundle/rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
    ignore = dirty
[submodule "oh-my-zsh-custom/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
    ignore = dirty
[submodule "guake-colors-solarized"]
	path = guake-colors-solarized
	url = https://github.com/coolwanglu/guake-colors-solarized.git
    ignore = dirty
[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
    ignore = dirty
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
    ignore = dirty
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
    ignore = dirty
[submodule "vim/bundle/yankstack"]
	path = vim/bundle/yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
    ignore = dirty
[submodule "cdd"]
	path = cdd
	url = https://github.com/jestor/cdd.git
    ignore = dirty
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
    ignore = dirty
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
    ignore = dirty
[submodule "osx-lion-terminal.app-colors-solarized"]
	path = osx-lion-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-lion-terminal.app-colors-solarized.git
    ignore = dirty
[submodule "vim/bundle/makeshift"]
	path = vim/bundle/makeshift
	url = https://github.com/johnsyweb/vim-makeshift.git
    ignore = dirty
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/powerline/powerline.git
    ignore = dirty
[submodule "vim/bundle/scons.vim"]
	path = vim/bundle/scons.vim
	url = https://github.com/vim-scripts/scons.vim.git
    ignore = dirty
[submodule "ssh-find-agent"]
	path = ssh-find-agent
	url = https://github.com/wwalker/ssh-find-agent.git
    ignore = dirty
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "mintty-colors-solarized"]
	path = mintty-colors-solarized
	url = https://github.com/mavnn/mintty-colors-solarized.git
